{% extends "English/base.html" %}
{% block links %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock links %}
{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>
  <div class="row row-top">
    <h1>Temple Architecture</h1>
</div>
    <header id="top"></header>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">New architecture 
            </h1>
            <div class="info-card">
                <img src="/static/images/2.jpg" alt="temple" class="info-img">
                <p class="info">
                    Considering the need of temple renovation to accommodate the rush and reconstruction of the temple, Ingole family members formed the trust in 2000 and then the construction work of the temple as per this beautiful new architecture started after 2006. With the support of donations from devoted, new temple established  within 2 years. New construction decorated with marbles and the latest design.
                </p>
            </div>
        </div>
        <div class="info-main">
            <h1 class="info-head"> Old architecture 
            </h1>
            <div class="info-card">
                <p class="info">
                    Sidhivinak Ganesh statue found in 16th century and then it established in wadarupi temple by Ingole family. Various Ingole family members looked after temple from then till 2000.
                    
                </p>
                <img src="/static/images/4.jpg" alt="temple" class="info-img">
            </div>
        </div>

    </section>
    {% endblock body %}