{% extends "English/base.html" %}
{% block links %}
    <link rel="stylesheet" href="/static/css/boardmembers.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
{% endblock links %}
{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>

    <section>

        <div class="row row-top">
            <h1>Trustees</h1>
        </div>

        <div class="row">

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee1.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">Vilas Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Chairman</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee2.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">Vishweshvar Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Vice Chairman</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee3.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">Narendra Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Treasurer</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee4.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">Sandip Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Secretary</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee5.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">Rameshwar Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Trustee</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee6.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">Santosh Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Trustee</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee7.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">Ajay Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Trustee</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee8.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">Ranjit Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Trustee</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee9.jpeg" />
                    </div>
                    <h3>
                        <span id="personcard-en">Gokul Ingole</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">Trustee</span>
                    </p>
                </div>
            </div>

        </div>

    </section>
{% endblock body %}
