{% extends "English/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/Festivals.css">
{% endblock links %}

{% block body %}

<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>
    
    <header id="top"></header>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">Ganesh Utsav</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/ganesh_utsav.jpg" alt="temple" >
                
                
                <p class="info" style="font-size: medium;">
                    Ganesh Chaturthi, is one of the most celebrated festivals of the Hindus that marks the birth of Lord Ganesha. According to the Gregorian calendar, this festival falls in the month of August or September. During this ten-day festival, devotees worship idols of the elephant-headed God who is also known as the Remover of Obstacles and the God of New beginning.
                    Ganesh Chaturthi is celebrated across the country with much pomp and splendor. It's difficult to put a date on when people first started celebrating Ganesh Chaturthi, however, many experts believe that the history of Ganesh Chaturthi celebration can be traced back to the reigns of Satavahana, Rashtrakuta and Chalukya dynasties. As per historical records, the great Maratha leader Chatrapati Shivaji Maharaja initiated Ganesh Chaturthi celebrations in Maharashtra to promote the spirit of nationalism.
                    The tradition of Ganesh Visarjan
                    On the last day of the festival, the tradition of Ganesh Visarjan takes place. The concluding day of the 10-day festival is also popularly known as Anant Chaturdashi. As the word 'visarjan' implies, on this day immersion ('visarjan' means immersion) of Lord Ganapati's idol takes place in a river, sea or water body. On the first day of the festival, the devotees mark the beginning of Ganesh Chaturthi with the placement of Lord Ganesha's idol in their homes, public places and offices. On the last day, the devotees come out in processions carrying the idols of their beloved God and perform immersion.  
                </p>
            </div>
        </div>
       
    </section>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">Sankashti Chaturthi</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/sankashta.jpg" alt="temple" >
                
                
                <p class="info">
                    According to Hindu teachings, Angarika, the son of Prithvi and Bharadvaja, was an accomplished rishi and a great devotee of Ganesha. He worshipped Ganesha and sought his blessings. On Magha Krishna Chaturthi (a Tuesday), Ganesha blessed him and asked him for a wish. Angarak expressed that his only wish was to be associated with Ganesha's name forever. The deity granted his wish and proclaimed that whoever worships Ganesha on Angarika Chaturthi will be granted all that he/she prays for. From that day onwards, Magh Krishna Chaturthi came to be known as Angarak Chaturthi.

                    On the day of Angarika Sankashti Chaturthi, the devotees observe a strict fast from morning till evening. They break the fast at night after having a darshan/auspicious sighting of the moon, preceded by prayers and a pooja for Ganesha. The Angarika Chaturthi (angarak in Sanskrit means red like burning coal embers) devotees believe their wishes will be fulfilled if they pray on this auspicious day. The fast of Sankashti Chaturthi is generally started from the day "Angarika Sankashti Chaturthi". Also Angarika Sankashti means deliverance during troubled times, hence observing this fast is believed to reduce a person's problems, as Ganesha is the remover of all obstacles and the supreme lord of intelligence. Before moonlight, the Ganapati Atharvashesha is recited to summon the blessings of Ganesha.  
                </p>
            </div>
        </div>
       
    </section>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">Vinayak Chaturthi</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/vinayak.jpg" alt="temple" >
                
                
                <p class="info">
                    Chaturthi is considered an auspicious day as it is dedicated to worship Lord Ganesha. There are two Chaturthi occurs in a month, one is Sankashti Chaturthi and another is Vinayaka Chaturthi. Sankashti Chaturthi falls during Krishna Paksha while Vinayaka Chaturthifalls during Shukla Paksha. People offer prayers to Lord Ganesha and observed fast.
                    This time, Vinayaka Chaturthi is being observed on Chaturthi Tithi of Shukla Paksha in the month of Ashwina.
                    Vinayaka Chaturthi has its own religious significance among Hindus. This day is dedicated to worship Lord Ganesha. People offer prayers and observe on this day. Lord Ganesha is also considered as Pratham pujya, means the first worshipped God. It is believed that devotees who worship Lord Ganesha with great devotion and dedication on this particular day, get rid of all the bad pas karmas. Lord Ganesha also bless the devotees with success, happiness, and obstacle free life.
                </p>
            </div>
        </div>
       
    </section>

    {% endblock body %}