{% extends "English/base.html" %}
{% block style %}
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    background-size: cover; /* Make the background image cover the entire element */
    background-repeat: no-repeat;
}

nav {
    /* Your navigation styles */
    background-color: #FF4500;
    color: #fff;
    padding: 20px; /* Increase padding for the navbar */
    text-align: center;
    z-index: 1001;
}

.footer {
    background-color: #FF4500;
    color: #fff;
    padding: 20px; /* Increase padding for the footer */
    text-align: center;
    margin-top: 20px; /* Add margin at the top of the footer */
}

.live-darshan-container {
    margin-top: 120px; /* Adjusted margin-top to create a gap between video and navbar */
    margin-bottom: 100px; /* Add margin at the bottom of the video container */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
}

video {
    width: auto;
    max-width: 800px;
    max-height: 600px;
    border-radius: 10px;

}

.video-reflection {
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: blur(10px);
    z-index: 0;
}

/* Rest of your styles for other elements */

/* Media queries and other styles remain unchanged */

{% endblock style %}


{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>
      
      <div class="live-darshan-container">
        <h1 style="color: rgb(0, 0, 0);font-family:'Times New Roman', Times, serif;"><b>Live Darshan</b></h1>
        <video autoplay loop muted>
            <!-- Provide the path to your video file -->
            <source src="/static/videos/video4.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

        <div id="footer-placeholder"></div>
{% endblock body %}