{% extends "Hindi/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
{% endblock links %}
{% block style %}
    body {
      overflow-x: hidden;
    }

    #map-container {
      padding-top: 100px;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: bolder;
      margin-top: 50px;
    }

    .row {
      /* align-items: center; */
      justify-content: center;
    }

    iframe {
      height: 60vh;
      width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      border: none;
      border-bottom: 2px solid rgb(128, 126, 126);
      background: transparent;
      outline: none;
      width: 100%;
      text-transform: capitalize;
      padding: 1rem 0.4rem;
    }

    #message {
      min-height: 120px;
    }

    /* Add this CSS to your existing styles */

    /* Card styling for the specific section */
    .card-section .column {
      flex: 1;
      margin: 0 10px;
    }

    .card-section .card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      margin: 30px;
    }

    .card-section .img-container img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .card-section .card h3 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 10px;
    }

    .card-section .card p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 20px;
    }

    .card-section .address-info,
    .card-section .contact-info,
    .card-section .email-info {
      font-size: 0.9rem;
      color: #777;
    }

    @media (max-width: 768px) {
      .card-section .column {
        flex: 1 0 100%;
        margin: 10px 0;
      }
    }
{% endblock style %}
{% block body %}

<div class="background-container">
  <img src="/static/images/common.png" alt="Background Image" class="background-image">
</div>

  <section class="cont" style="margin-top: -70px;">
    <div id="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30242.57434113686!2d73.768515!3d18.649550450000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9e76cf2f9bb%3A0x51c2a6d121bcc6c8!2sNigdi%2C%20Pimpri-Chinchwad%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1694260682285!5m2!1sen!2sin" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>

  <section >

    <div class="row" style="margin-top: 30px;">
      <div class="col-lg-8 col-md-12 p-5 bg-white rounded-3">
        <center>
          <h1
            style="font-family: 'Poppins',sans-serif;font-size:3rem;font-weight:bold;margin-top: 3.5rem;margin-bottom: 3rem;">
            हमसे संपर्क करें</h1>
        </center>

        <div class="d-flex mb-3 flex-column">

          <form class="row mb-3">
            <div class="col-md-6 p-3">
              <input required placeholder="नाम" type="text" name="" id="" />
            </div>
            <div class="col-md-6 p-3">
              <input required placeholder="उपनाम" type="text" name="" id="" />
            </div>
            <div class="col-md-6 p-3">
              <input required placeholder="ई-मेल" type="email" name="" id="" />
            </div>
            <div class="col-md-6 p-3">
              <input required placeholder="फ़ोन" type="tel" name="" id="" />
            </div>
            <div class="col-md">
              <textarea required name="" placeholder="आपका संदेश" id="message" cols="30" rows="1"></textarea>
            </div>
            <div class="col-md-12 p-3">
              <input class="btn px-4 py-3 btn-outline-dark" type="submit" value="संदेश भेजें" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

 <section class="card-section">
  <div class="row">
    <div class="column">
      <div class="card" style="background-color: rgb(244, 238, 238)">
        <h5><b>ईमेल भेजें </b><i class='fa fa-arrow-right'></i></h5>
        <h1>ईमेल पता</h1><br>
        <p><b>Siddhivinayakganapati1234@gmail.com
          </b></p>
        <i class="fa fa-envelope-open" aria-hidden="true"></i>
      </div>
    </div>

    <div class="column">
      <div class ="card" style="background-color: rgb(244, 238, 238)">
        <h5><b>हमें कॉल करें </b><i class='fa fa-arrow-right'></i></h5>
        <h1>फ़ोन नंबर</h1><br>
        <p><b>+91 9822545331
          </b></p>
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
    </div>
    <div class="column">
      <div class ="card" style="background-color: rgb(244, 238, 238)">
        <h5><b>यहाँ हमें खोजें </b><i class='fa fa-arrow-right'></i></h5>
        <h1>पता</h1><br>
        <p><b>Siddhivinayakganapati1234@gmail.com
          </b></p>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
