{% extends "Hindi/base.html" %}
{% block style %}
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        /* आपके फूटर की ऊंचाई के लिए इस मूल्य को समायोजित करें */
    }

    .container {
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px; /* यह मूल्य शरीर के पैडिंग-बॉटम के साथ मेल खाता है, इसे समायोजित करें */
    }

    h1 {
        text-align: center;
        color: #333;
    }

    th {
        background-color: #FF2525;
        color: white;
    }

    .container mt-5 {
        margin-bottom: 50px;
    }
    .table img {
        width:120px;
        height: auto;
        border-radius: 8px; /* वृत्ताकार कोनों के लिए बॉर्डर-रेडियस जोड़ें (वैकल्पिक) */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
{% endblock style %}
{% block body %}
<div class="background-container" style="margin-top: -70px;">
    <img src="/static/images/common.png" alt="पारंपरिक छायाचित्र" class="background-image">
    <div class="overlay" style="background-color: rgba(255, 255, 255, 0.5);"></div>
</div>

<div class="container mt-5">
    <h2>२०२४ में गणेश की कृपा का जश्न मनाएं!</h2>
    <p class="lead mb-4">भगवान गणेश की पूजा करने वाले इन शुभ उत्सवों के लिए अपना कैलेंडर मार्क करें।</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: #FF2525;">उत्सव</th>
                    <th style="background-color: #FF2525;">तारीख</th>
                    <th style="background-color: #FF2525;">छायाचित्र</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>अंगारकी चतुर्थी</td>
                    <td>जनवरी 9, फरवरी 6, मार्च 5, अप्रैल 2, मई 31, जुलाई 30, अगस्त 27, सितंबर 24, अक्टूबर 22, नवंबर 20, दिसंबर 17</td>
                    <td><img src="/static/images/ganesha2 copy.jpg" alt="अंगारकी चतुर्थी"></td>
                </tr>
                <tr>
                    <td>संकष्टी चतुर्थी</td>
                    <td>जनवरी 12, फरवरी 10, मार्च 9, अप्रैल 7, मई 7, जून 4, जुलाई 4, अगस्त 1, अगस्त 29, सितंबर 27, अक्टूबर 25, नवंबर 23, दिसंबर 21</td>
                    <td><img src="/static/images/ganesha2 copy.jpg" alt="संकष्टी चतुर्थी"></td>
                </tr>
                <tr>
                    <td>विनायक चतुर्थी</td>
                    <td>अगस्त 30</td>
                    <td><img src="/static/images/ganesha2 copy.jpg" alt="विनायक चतुर्थी"></td>
                </tr>
                <tr>
                    <td>गणेश जयंती</td>
                    <td>सितंबर 18</td>
                    <td><img src="/static/images/ganesha2 copy.jpg" alt="गणेश जयंती"></td>
                </tr>
                <tr>
                    <td>गणेश उत्सव</td>
                    <td>सितंबर 20 (प्रारंभ) - सितंबर 30 (समाप्त)</td>
                    <td><img src="/static/images/ganesha2 copy.jpg" alt="गणेश उत्सव"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
