{% extends "Marathi/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/boardmembers.css">
{% endblock links %}
{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>

  <section>
    <div class="row row-top">
        <h1>Trustees</h1>
    </div>
    <div class="row">
        <!-- Column 1-->







        <!-- Column 2-->


        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee1.jpg" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>विलास इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Chairman</span> -->
                    <span id="personcard-mr"  ;>मुख्याध्यक्ष</span>
                </p>
            </div>
        </div>






        <!-- Column 3-->


        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee2.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Vishweshvar Ingole</span> -->
                    <span id="personcard-mr"  ;>विश्वेश्वर इंगोळे </span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Vice Chairman</span> -->
                    <span id="personcard-mr"  ;>उपमुख्याध्यक्ष</span>
                </p>
            </div>
        </div>




        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee3.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Narendra Ingole</span> -->
                    <span id="personcard-mr"  ;>नरेंद्र इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Treasurer</span> -->
                    <span id="personcard-mr"  ;>कोषाध्यक्ष</span>
                </p>
            </div>
        </div>




        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee4.jpg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Sandip Ingole</span> -->
                    <span id="personcard-mr"  ;>संदीप इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Secretary</span> -->
                    <span id="personcard-mr"  ;>सचिव</span>
                </p>
            </div>
        </div>



        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee5.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Rameshwar Ingole</span> -->
                    <span id="personcard-mr"  ;>रामेश्वर इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>त्रस्टी</span>
                </p>
            </div>
        </div>


       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee6.jpg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Santosh Ingole</span> -->
                    <span id="personcard-mr"  ;>संतोष इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>त्रस्टी</span>
                </p>
            </div>
        </div>



       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee7.png" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>अजय इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <span id="personcard-mr"  ;>त्रस्टी</span>
                </p>
            </div>
        </div>



      <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee8.png" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>रंजित इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <span id="personcard-mr"  ;>त्रस्टी</span>
                </p>
            </div>
        </div>




       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee9.jpeg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Gokul Ingole</span> -->
                    <span id="personcard-mr"  >गोकुल इंगोळे</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>त्रस्टी</span>
                </p>
            </div>
        </div>


    </div>


</section>
{% endblock body %}