{% extends "Marathi/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/Festivals.css">
{% endblock links %}

{% block body %}

<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>
    
    <header id="top"></header>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">गणेश उत्सव</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/ganesh_utsav.jpg" alt="temple" >
                
                
                <p class="info" style="font-size: medium;">
                    गणेश चतुर्थी, हा हिंदूंचा सर्वात प्रसिद्ध सण आहे जो भगवान गणेशाच्या जन्माचे प्रतीक आहे. ग्रेगोरियन कॅलेंडरनुसार हा सण ऑगस्ट किंवा सप्टेंबर महिन्यात येतो. या दहा दिवसांच्या उत्सवादरम्यान, भक्त हत्तीच्या डोक्याच्या देवाच्या मूर्तीची पूजा करतात ज्याला अडथळे दूर करणारा आणि नवीन सुरुवातीचा देव म्हणून देखील ओळखले जाते.
                    देशभरात गणेश चतुर्थी मोठ्या थाटामाटात साजरी केली जाते. लोकांनी पहिल्यांदा गणेश चतुर्थी कधी साजरी करण्यास सुरुवात केली याची तारीख सांगणे कठीण आहे, तथापि, अनेक तज्ञांचा असा विश्वास आहे की गणेश चतुर्थी साजरी करण्याचा इतिहास सातवाहन, राष्ट्रकूट आणि चालुक्य राजवटींच्या राजवटीत सापडतो. ऐतिहासिक नोंदीनुसार, थोर मराठा नेते छत्रपती शिवाजी महाराजांनी राष्ट्रवादाच्या भावनेला चालना देण्यासाठी महाराष्ट्रात गणेश चतुर्थी उत्सव सुरू केला.
                    गणेश विसर्जनाची परंपरा
                    उत्सवाच्या शेवटच्या दिवशी गणेश विसर्जनाची परंपरा आहे. 10 दिवसांच्या उत्सवाचा समारोपाचा दिवस अनंत चतुर्दशी म्हणूनही ओळखला जातो. 'विसर्जन' या शब्दाचा अर्थ, या दिवशी गणपतीच्या मूर्तीचे विसर्जन ('विसर्जन' म्हणजे विसर्जन) नदी, समुद्र किंवा जलकुंभात होते. उत्सवाच्या पहिल्या दिवशी, भक्त गणेश चतुर्थीची सुरुवात त्यांच्या घरी, सार्वजनिक ठिकाणी आणि कार्यालयांमध्ये गणपतीची मूर्ती ठेवून करतात. शेवटच्या दिवशी भाविक आपल्या लाडक्या देवाच्या मूर्ती घेऊन मिरवणुकीत येतात आणि विसर्जन करतात.  
                </p>
            </div>
        </div>
       
    </section>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">संकष्ट चतुर्थी</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/sankashta.jpg" alt="temple" >
                
                
                <p class="info">
                    हिंदू शिकवणींनुसार, पृथ्वी आणि भारद्वाज यांचा मुलगा अंगारिका हा एक कुशल ऋषी आणि गणेशाचा महान भक्त होता. त्यांनी गणेशाची पूजा करून आशीर्वाद मागितले. माघ कृष्ण चतुर्थी (एक मंगळवार) रोजी, गणेशाने त्याला आशीर्वाद दिला आणि इच्छा मागितली. अंगारक यांनी गणेशाच्या नावाशी कायमस्वरूपी जोडले जावे हीच इच्छा व्यक्त केली. देवतेने त्यांची इच्छा पूर्ण केली आणि घोषित केले की जो कोणी अंगारिका चतुर्थीच्या दिवशी गणेशाची पूजा करेल त्याला तो / ती जे काही प्रार्थना करेल ते सर्व दिले जाईल. त्या दिवसापासून माघ कृष्ण चतुर्थी अंगारक चतुर्थी म्हणून ओळखली जाऊ लागली.

                    अंगारिका संकष्टी चतुर्थीच्या दिवशी भाविक सकाळपासून संध्याकाळपर्यंत कडक उपवास करतात. ते रात्री चंद्राचे दर्शन/शुभ दर्शन घेतल्यानंतर, त्याआधी प्रार्थना आणि गणेशाची पूजा करून उपवास सोडतात. अंगारिका चतुर्थी (संस्कृतमध्ये अंगारक म्हणजे जळत्या कोळशाच्या अंगारासारखा लाल) भक्तांचा विश्वास आहे की त्यांनी या शुभ दिवशी प्रार्थना केल्यास त्यांच्या इच्छा पूर्ण होतील. संकष्टी चतुर्थीचे व्रत साधारणपणे "अंगारिका संकष्टी चतुर्थी" या दिवसापासून सुरू केले जाते. तसेच अंगारिका संकष्टी म्हणजे संकटकाळात सुटका, म्हणून या व्रताचे पालन केल्याने व्यक्तीच्या समस्या कमी होतात असे मानले जाते, कारण गणेश हा सर्व अडथळे दूर करणारा आणि बुद्धीचा सर्वोच्च स्वामी आहे. चंद्रप्रकाशापूर्वी, गणपतीचे आशीर्वाद घेण्यासाठी गणपती अथर्वशेषाचे पठण केले जाते.  
                </p>
            </div>
        </div>
       
    </section>
    <section class="about-temple">
        <div class="info-main">
            <h1 class="info-head">विनायक चतुर्थी</h1>
            <div class="info-card">
                
                    <img src="/static/images/Festivals/vinayak.jpg" alt="temple" >
                
                
                <p class="info">
                    चतुर्थी हा शुभ दिवस मानला जातो कारण तो गणपतीची पूजा करण्यासाठी समर्पित आहे. एका महिन्यात दोन चतुर्थी येतात, एक संकष्टी चतुर्थी आणि दुसरी विनायक चतुर्थी. संकष्टी चतुर्थी कृष्ण पक्षात येते तर विनायक चतुर्थी शुक्ल पक्षात येते. लोक गणेशाची पूजा करतात आणि उपवास करतात.
                    यावेळी अश्विना महिन्यातील शुक्ल पक्षातील चतुर्थी तिथीला विनायक चतुर्थी साजरी केली जात आहे.
                    हिंदूंमध्ये विनायक चतुर्थीचे स्वतःचे धार्मिक महत्त्व आहे. हा दिवस गणपतीची पूजा करण्यासाठी समर्पित आहे. लोक या दिवशी प्रार्थना करतात आणि पाळतात. भगवान गणेशाला प्रथमपूज्य, म्हणजे प्रथम पूज्य देव मानले जाते. असे मानले जाते की जे भक्त या दिवशी मोठ्या भक्ती आणि समर्पणाने गणपतीची आराधना करतात त्यांच्या सर्व वाईट कर्मापासून मुक्ती मिळते. भगवान गणेश भक्तांना यश, आनंद आणि अडथळेमुक्त जीवनाचा आशीर्वाद देतात.
                </p>
            </div>
        </div>
       
    </section>

    {% endblock body %}