{% extends "Marathi/base.html" %}
{% block links %}
    <link rel="stylesheet" href="/static/css/carousel.css">
{% endblock links %}
{% block body %}
<div class="start--page">
    <div class="container">
        <div class="left-content">
            <img src="\static\images\Ganpati_rec-removebg-preview.png" alt="Ganesha" class="ganesh-image">
        </div>
        <div class="right-content">
            <div id="ganesha--mantra">वक्रतुण्ड महाकाय सूर्यकोटि समप्रभ ।<br>
                निर्विघ्नं कुरु मे देव सर्वकार्येषु सर्वदा ॥</div>
            <a href="donation.html" class="donation--button">देणगी</a>
        </div>
    </div>
    <!-- <div class="start--page--copyright">
        <p>&copy; 2023 All rights reserved by.<br>Shree Siddhivinayak Ganapati Mandir Trust,Waigaon.</p>
    </div> -->
</div>
{% endblock body %}
