<footer class="main-footer">
    <div class="footer-info">
        <div class="footer-links">
            <span class="footer-header">आमच्याबद्दल</span>
            <a href="index_m.html"><span>ॐ होम</span></a>
            <a href="livedarshan_m.html"><span>ॐ लाइव दर्शन</span></a>
            <a href="history_m.html"><span>ॐ मंदिराबद्दल</span></a>
            <a href="boardmembers_m.html"><span>ॐ बोर्ड सदस्य</span></a>
        </div>
    
        <div class="footer-links">
            <span class="footer-header">सेवा</span>
            <a href="dailyseva_m.html"><span>ॐ दैनिक सेवा</span></a>
            <a href="pooja_m.html"><span>ॐ पूजा सेवा</span></a>
            <a href="Mahaabhishek_m.html"><span>ॐ महाअभिषेक सेवा</span></a>
            <a href="donation_m.html"><span>ॐ दान</span></a>
        </div>
        <div class="footer-links">
            <span class="footer-header">इतर</span>
            <a href="contact_m.html"><span>ॐ आम्हाला संपर्क साधा</span></a>
            <a href="imagegallery_m.html"><span>ॐ गॅलरी</span></a>
            <!-- <a href="chaturthi_m.html"><span>ॐ उत्सव</span></a> -->
        </div>
    </div>
    

  <!-- <div class="about-footer">

      <a herf="" target="_blank">
          <i class="fa fa-twitter"  ></i>
      </a>
      <a href="" target="_blank">
          <i class="fa fa-envelope" ></i>
      </a>
      <a href="" target="_blank">
          <i class="fa fa-youtube-play" ></i>
      </a>
      <a href="" target="_blank">
          <i class="fa fa-map-marker"></i> 
      </a> 
      <a href="" target="_blank">
          <i class="fa fa-facebook-square"></i> 
      </a>
    </div> -->

     
  </footer>