<section class="top-nav">
    <nav class="navbar">
        <!-- LOGO -->
        <div><img class="logo" src="/static/images/logo.png"/></div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="index_m.html"><b>होम</b></a></li>

                <li><a href="livedarshan_m.html">
                  <div class="cdot dot"></div><b> लाइव दर्शन</b>
                </a></li>

                <li class="dropdown">
                   <b>आमच्याबद्दल</b>
                    <div class="dropdown-content">
                        <a href="about_m.html"><b>मंदिर इतिहास</b></a>
                        <a href="boardmembers_m.html"><b>संचालक</b></a>
                        <!-- <a href="architecture_m.html"><b>मंदिर वास्तुकला</b></a> -->
                    </div>
                </li>

                <li class="dropdown">
                  <b>मंदिर वेळापत्रक</b>
                   <div class="dropdown-content">
                       <a href="dailyseva_m.html"><b>मंदिर दैनिक सेवा</b></a>
                       <a href="Mahaabhishek_m.html"><b>महाआभिषेक</b></a>
                       <!-- <a href="samugrahi_m.html"><b>अभिषेक समुग्रही</b></a> -->
                   </div>
               </li>

               <!-- <li class="dropdown">
                <b>उत्सव</b>
                 <div class="dropdown-content">
                     <a href="utsav_m.html"><b>गणेश उत्सव</b></a>
                     <a href="jayanti_m.html"><b>गणेश जयंती</b></a>
                     <a href="chaturthi_m.html"><b>संकष्ट चतुर्थी आणि विनायक चतुर्थी</b></a>
                 </div>
             </li> -->

             <li class="dropdown">
              <b>गॅलरी</b>
               <div class="dropdown-content">
                   <a href="imagegallery_m.html"><b>चित्र गॅलरी</b></a>
                   <a href="videogallery_m.html"><b>व्हिडिओ गॅलरी</b></a>
                   <a href="othergallery_m.html"><b>इतर चित्रे</b></a>
               </div>
           </li>

           <li class="dropdown">
            <b>मंदिर E सेवा</b>
             <div class="dropdown-content">
                 <a href="Pooja_m.html"><b>पूजा तपशील</b></a>
                 <!-- <a href="booking_m.html"><b>ऑनलाइन बुकिंग</b></a> -->
             </div>
         </li>

         <li><a href="donation_m.html"><b>दान</b></a></li>

                <li><a href="contact_m.html"><b>आमच्याशी संपर्क साधा</b></a></li>

                <li class="dropdown">
                  <b>भाषा</b>
                   <div class="dropdown-content">
                    <a><b>इंग्रजी</b></a>
                    <a><b>मराठी</b></a>
                   </div>
               </li>
            </div>
        </ul>
    </nav>
</section>